/*.blog_form {
    width: 30rem;
    border-radius: var(--card-border-radius-2);
    background: var(--color-gray-900);
    margin-bottom: 2rem;
    color: var(--color-gray-300);
  }
  
  .blog_form i {
    font-size: 1.3rem;
    margin-top: 0.3rem;
  }
  
  .blog_form input {
    width: 100%;
    background: none;
    font-size: 1rem;
  
    padding: 0.8rem;
  }
  
  .blog_form input::placeholder {
    color: var(--color-gray-300);
  }
  
  .blog_form form {
    padding: 0.5rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  