/* .post_detail {
    margin: 6rem 0 2rem;
    background: var(--color-gray-900);
    width: 50%;
    margin-inline: auto;
    padding: 1rem 2rem 2rem;
  }
  
  .post_detail .post_author {
    margin-top: 0;
  }
  
  .post_detail_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .post_detail_image {
    height: fit-content;
    max-height: 30rem;
    overflow: hidden;
  }
  
  .post_detail p {
    margin-top: 1rem;
    line-height: 1.6;
  }
  
  .post_detail_btns {
    display: flex;
    gap: 1rem;
  }

  .post_detail h2 {
    margin: 1rem 0;
  }